
@media (min-width: 768px) {
	.section{
		margin: 0 auto;
		float: none;
		min-width:1000px;
	}

}
.jumbotron {
	height:100%;
}
.row-margin-bottom{
	margin-bottom:6px;
}

.padding-top{
	padding-top : 50px;
}
.margin-bottom{
	margin-bottom : 150px;
}

.text-center{
	margin-top:6px;
}
.text-area{
	resize:none;
	margin-bottom:40px;
}
.col-centered{
	float: none;
	margin: 0 auto;
}
.margin-top{
	margin-top:50px;
}